/* FUENTE AGREGADA */

/* @import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;500;600;700;800&family=Spinnaker&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

/*Resetear el CSS*/
:root {
  --conic-gradient: conic-gradient(#00EA13 77%,
      #008FFC 100%,
      #7468FF 100%)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*Incluye el relleno y borde en el ancho y el alto*/
  text-decoration: none;
  list-style: none;
}

/*PARA EL BODY LETRA */

body {
  background-color: #f1f1f1;
  font-family: 'Montserrat', sans-serif;
}

/*---------*/
.header {
  /* background-image: url(/Imagenes/Vector.png); */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

}

/*--------*/

.header-info {
  display: flex;
  justify-content: flex-start;
  background-color: #002072;
  padding: 10px 10%;
  color: #f1f1f1;
}


.header-icon {
  display: flex;
  margin-right: 20px;
  align-items: center;

}

.header-icon img {
  margin-right: 10px;
}

.header-navbar .logo img {

  vertical-align: top;
  height: 85px;
  width: auto;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #F5F5F5;
  font-weight: 500;
  padding: 0 10%;
  align-items: center;
}


.header-navbar .navbar ul li {
  position: relative;
  float: left;

}

.header-navbar .navbar ul li a {
  color: #000;
  font-size: 18px;
  padding: 10px;
  font-weight: 700;
  margin: 0 2px;
  display: block;
  /*OCUPA TODO EL ESPACIO DISPONIBLE DE SU ELEMENTO CONTENEDRO*/
  letter-spacing: 0.5px;
}

.header-navbar .navbar ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #002072;
  margin: auto;
  display: block;
}

.header-navbar .navbar ul li a:hover::after {
  width: 100%;
  transition: width 0.5s linear;
}

.header-navbar .navbar ul li a:hover {
  color: #002072;
}


.header-background {
  background-image: url(/Imagenes/Vector.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.header-content {
  display: flex;

  padding: 10px 10%;
  height: 100vh;
  width: 100%;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 50px;

}

.header-text {
  width: 100%;
  color: #FFFFFF;
  padding: 0 25px 0 0;

}

.header-text h4 {
  font-weight: 500;
  font-size: 28px;
}

.header-text h1 {
  font-weight: 800;
  font-size: 80px;
  text-transform: capitalize;
}

.header-text p {
  font-size: 20px;
  text-align: justify;
  padding: 10px 20px 2px 0;
}

.header-text span {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 800;
}

/*img*/
.header-img img{
  width: 900px;
  height: 700px;
}

/* CONTENIDO PRINCIPAL */

.content-principal {
  display: flex;
  align-items: center;
  padding: 10px 10%;
  gap: 2rem;
  margin-bottom: 50px;
}

.content-info h2 {
  font-size: 50px;
  font-weight: 700;
}

.content-info p {
  font-size: 15px;
  font-weight: 100;
}

.content-bnf {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
}

.content-bnf .lop:nth-child(1) {
  transition-delay: 200ms;
}
.content-bnf .lop:nth-child(2) {
  transition-delay: 400ms;
}
.content-bnf .lop:nth-child(3) {
  transition-delay: 600ms;
}
.content-bnf .lop:nth-child(4) {
  transition-delay: 200ms;
}
.content-bnf .lop:nth-child(5) {
  transition-delay: 400ms;
}
.content-bnf .lop:nth-child(6) {
  transition-delay: 600ms;
}  


.content-bnf .bnf img {
  padding: 15px;
}

.content-bnf .bnf {
  border-radius: 1em;
  background-color: #DDE6ED;
  border-image: linear-gradient(#008FFC,
      #7468FF,
      #00EA13);
  position: relative;
  overflow: hidden;
  flex-wrap: nowrap;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;

}

.bnf2 {
  padding: 15px;
  align-items: center;
  border-radius: 15px;
}

.content-bnf .bnf::before {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  background: conic-gradient(#008FFC,
      #7468FF,
      #00EA13);
  z-index: -2;
}

.content-bnf .bnf::after {
  content: '';
  position: absolute;
  background-color: white;
  width: 95%;
  height: 95%;
  border-radius: 0.5em;
  z-index: -1;
}


.content-bnf .bnf:hover {
  transform: scale(1.1);
}

.content-bnf .bnf:hover::before {
  animation: spin 2s infinite linear;
}

.content-bnf .bnf h3 {
  font-size: 22px;
  font-weight: 500;
  color: #002072;
}

.content-bnf .bnf p {
  font-size: 15px;
  font-weight: 300;
}

.info {
  background-color: #002072;
  margin-bottom: 50px;
}

.particle-pr {
  width: 100%;
  height: auto;
  overflow: hidden;
}

#particles-js {
  background-color: #002072;
  width: 100%;
  height: 172px;
}

#particles-js .multi-img .image-over {
  position: absolute;
  width: 20%;
}

#particles-js .pasrticle-info {
  padding: 10px 10%;
  text-align: center;
  position: absolute;
}

#particles-js p {
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
}

#particles-js span {
  font-weight: 800;
}

/* ****************** */

#particles-js2 {
  background-color: #002072;
  width: 100%;
  height: 300px;
  
}

#particles-js2 .multi-img .image-over {
  position: absolute;
  width: 20%;
}

#particles-js2 .pasrticle-info {
  padding: 70px 10%;
  position: absolute;
}

#particles-js2 p {
  font-size: 17px;
  font-weight: 400;
  color: #FFFFFF;
}

#particles-js2 span {
  font-weight: 800;
}

/*************************/

.info-div {
  padding: 10px 10%;
  text-align: center;
}

.info-div p {
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
}

.info p span {
  font-weight: 800;
}

.multi-info {
  padding: 10px 10%;
  margin-bottom: 50px;
}

.multi-info h2 {
padding-top: 90px;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.multi-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.multi-img img {
  object-fit: cover;
  width: 100%;
}

.trust {
  padding: 10px 10%;
}

.trust-desc {
  text-align: center;
  margin-bottom: 50px;
}

.trust-desc h4 {
  font-size: 45px;
  font-weight: 500;
  color: #04102A;
}

.trust-desc span {
  font-weight: 700;
  color: #002072;
}

.trust-desc p {
  font-size: 25px;
  font-weight: 100;
  color: #494A4A;
}
/*ACTIVAR 2*/
.swiper {
  width: 90vw;
  height: 250px;
}

.swiper-container {
  padding: 10px 10%;
  height: 350px;
}
/**/


section .animate {
  transition: 1.5s;
}

.animate {
  font-size: 150px;
  font-weight: 700;
  text-align: center;
  height: auto;
 
}

.sec-1 .animate {
  transform: translateX(-100%);
}

.sec-1.show-animate .animate {
  transform: translateX(0);
}

.sec-2 .animate {
  transform: translateX(-100%);
}

.sec-2.show-animate .animate {
  transform: translateX(0);
}


.img-carrosel {
  text-align: center;
  display: flex !important;
  justify-content: center;
}

.content {
  padding: 10px 10%;
  gap: 2rem;
  display: flex;
  align-items: center;
}


.contact {
  width: 100%;
  padding: 0 25px 0 0;
}

.contact h3 {
  text-align: center;
  color: #04102A;
  font-size: 70px;
  font-weight: 600;
  padding-bottom: 90px;
}

.contact-grd {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
}

.contact-des {
  display: flex;
  border-radius: 10px;
  padding: 10px;
}

.contact-des img {

  height: fit-content;
}

.contact-des-info {
  padding-left: 15px;
}

.contact-des-info h5 {
  font-size: 15px;
  font-weight: 600;
  color: #1D2445;
}

.contact-des-info p {
  font-size: 15px;
  font-weight: 400;
}


.footer-pr {
  background-color: #002072;
  padding: 50px 10%;
}

.footer-pr .grupo-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 20px 0;
}

.footer-pr .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-pr .grupo-1 .box figure img {
  width: 250px;
}

.footer-pr .grupo-1 .box h3 {
  color: #F8F8F8;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;

}

.footer-pr .grupo-1 .box p {
  color: #F8F8F8;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 10px;
}

.footer-pr .grupo-1 .red-social img {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 45px;
  margin: 10px;
  text-align: center;
  transition: all 300ms ease;
}

.footer-pr .grupo-1 .red-social img:hover {
  color: rebeccapurple;
}

/**/
 .grupo-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 20px 0;
}
 .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grupo-1 .box figure img {
  width: 250px;
}
 .grupo-1 .box h3 {
  color: #F8F8F8;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;

}

.grupo-1 .box p {
  color: #F8F8F8;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 10px;
}
 .grupo-1 .red-social img {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 45px;
  margin: 10px;
  text-align: center;
  transition: all 300ms ease;
}
 .grupo-1 .red-social img:hover {
  color: rebeccapurple;
}

/**/

.grupo-2 {
  background-color: #04102A;
  padding: 15px 10px;
  text-align: center;
  color: #f1f1f1;
}

.grupo-2 small {
  font-size: 15px;
}

.footer-img {
  width: 100%;
}

.footer-img img {
  height: 105px;
  width: auto;
  padding: 10px;
}

.footer-desc {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 2rem;
}

.footer-servicio p {
  color: #F8F8F8;
  font-size: 15px;
  font-weight: 400;
}

/**/

.container {
  text-align: center;
  padding: 10px;
  margin-bottom: 50px;
}

.container .title {
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
  font-size: 50px;
  font-weight: 600;
}

.toggle-switch{
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.toggle-switch span {
    font-size: 25px;
    font-weight: 700;
}

.toggler{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 50px;
    height: 25px;
    /* background: linear-gradient(75deg, #008FFC,#7468FF, #00EA13); */
    background-color: white;

    border-radius: 25px;
    margin: 0 1rem;
    position: relative;
}

.toggler::before{
    content: "";
    width: 16px;
    height: 16px;
    /* background-color: white; */
    background: linear-gradient(75deg, #008FFC,#7468FF, #00EA13);

    position: absolute;
    border-radius: 50%;
    top:50%;
    transform: translateY(-50%);
    right:4px;
}

.toggler:checked:before{
    right: 55%;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
}
.card-color {
    background: linear-gradient(75deg, #008FFC,#7468FF);
    padding: 2rem;
    border-radius: 10px;
}


.card-plan ul li {
    font-size: 17px;
    font-weight: 500;
}

.card-plan ul {
  padding: 2rem 2rem 0 2rem;
}

.card{
   height: 720px;
   width: 32%;
   background-color: #f5f5f5;
   border-radius: 15px;
   text-align: center;
}

.card .recomendado {
    color: yellow;
}

.card-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #ffffff;
}

.card-price{
    font-size: 3.2rem;
    text-align: center;
    color: #ffffff;
}

h2>span{
    font-size: 1.2rem;
}


.card ul{
    text-align: left;
    font-size: 0.9rem;
    font-weight: lighter;
    /* margin-bottom: 40px */
}

.card ul li:before{
    content:"•";
    margin-right: 0.5rem;
    color:#211ebc;
    font-size: 1.5rem;

}

/**/

.elemento-con-degradado {
    /* Define el color de fondo inicial */
  background-color: #F1F1F1;
    
      /* Crea el degradado utilizando linear-gradient */
  background-image: linear-gradient(to top, #F1F1F1 0%, #8EADD5 20%, #F1F1F1 110%);
      
    
      /* Puedes ajustar la dirección del degradado cambiando 'to bottom' */
      /* 'to bottom' significa que el degradado va de arriba hacia abajo */
  background-size: 100% 100%;
  background-position: bottom;
      /* Establece el tamaño del degradado si lo deseas (opcional) */
      /* background-size: cover; */
    
      /* Añade otros estilos de fondo si es necesario */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/**/

/* Estilos para el botón flotante de WhatsApp */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.whatsapp-button img {
  width: 60px;
  /* Tamaño del icono de WhatsApp */
  height: 60px;
  /* Tamaño del icono de WhatsApp */
  border-radius: 50%;
  background-color: #25d366;
  /* Color de fondo de WhatsApp */
  /* padding: 10px; */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/**/

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/**/

.card-btn{
    margin-top: 1rem;
    width: 100%;
    /* background: #002072; */
    background:  #00bb2d;
    border: 0.5px solid #ffffff;
    color:white;
    font-size: 17px;
    font-weight: 500;
    padding: 1rem;
    border-radius: 15px;
}

.btn1 {
  margin-top: 87px;
}

.btn3 {
  margin-top: 19px;
}

.card .card-btn:hover,
.active .card-btn
{
   
    background: linear-gradient(75deg, #008FFC,#7468FF, #00EA13);
}


@media (max-width:1112px){
    .cards{
        justify-content: center;
    }

    .card{
        width: 40%;
    margin: 2rem;
    }
}

@media (max-width:848px){
    .card{
        width:50%
    }
}

@media (max-width:674px){
    .top-banner{
        width: 70%;
    }
    .card{
        width: 70%;
    }
}

@media (max-width:500px){
    .top-banner{
        width: 90%;
    }



    .card{
        width: 90%;
    }
}


/**/
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes gradient {
  50% {
    background-position: 91% 100%;
  }
}